.StickyHeader {
    @apply fixed top-0 left-0 w-screen sm:h-20  bg-[#0d1117] sm:px-4;
    @apply flex flex-col sm:flex-row  items-center duration-300 overflow-hidden;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
    z-index: 10000;
    // &.isOpen::before {
    //     @apply w-screen h-screen fixed top-0 left-0 block bg-[rgba(0,0,0,0.5)];
    //     content: '';
    // }
    &.show {
        @apply opacity-100;
    }
    &.hide {
        @apply opacity-0 pointer-events-none;
    }
    ul {
        @apply flex flex-col  sm:flex-row items-start sm:items-center gap-4;
        li {
            @apply text-white font-sans-md text-lg duration-300 cursor-pointer;
            background-image: linear-gradient(to bottom, #fff, #fff);
            background-repeat: no-repeat;
            background-size: 0% 2%;
            background-position: center bottom;
            &:hover {
                background-size: 100% 5%;
            }
        }
    }
    .btn-container {
        @apply mt-4 sm:mt-0 ml-auto w-full sm:w-fit flex flex-col sm:flex-row items-center gap-4;
        button {
            @apply w-full sm:w-auto flex items-center justify-center px-8 py-2 gap-4;
            &:nth-of-type(1) {
                @apply font-sans-b text-white text-lg border-[1px] border-gray-400 rounded-md;
            }
            &:nth-of-type(2) {
                @apply font-sans-b text-[#0d1117] bg-white text-lg rounded-md;
            }
        }
    }
}
